<nav class="tabs" data-group="subcategory-tabs">
    <a class="item" data-group="subcategory-tabs" data-tab="gear">Gear</a>
    <a class="item" data-group="subcategory-tabs" data-tab="armor">Armor</a>
    <a class="item" data-group="subcategory-tabs" data-tab="shields">Shields</a>
    <a class="item" data-group="subcategory-tabs" data-tab="melee-weapons">Melee Weapons</a>
    <a class="item" data-group="subcategory-tabs" data-tab="ranged-weapons">Ranged Weapons</a>
</nav>