<nav class="tabs" data-group="category-tabs">
    <a class="item" data-group="category-tabs" data-tab="ancestries">Ancestries</a>
    <a class="item" data-group="category-tabs" data-tab="hindrances">Hindrances</a>
    <a class="item" data-group="category-tabs" data-tab="skills">Skills</a>
    <a class="item" data-group="category-tabs" data-tab="edges">Edges</a>
    <a class="item" data-group="category-tabs" data-tab="equipment">Equipment</a>
    <a class="item" data-group="category-tabs" data-tab="powers">Powers</a>
    <a class="item" data-group="category-tabs" data-tab="abilities">Abilities</a>
</nav>